.navbar {
  background-color: var(--css-primary);
  height: 74px;
  width: 100vw;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.button {
  background-color: var(--css-black);
  padding-right: 0.5rem;
  height: 38px;
  border-radius: 5px;
  color: var(--css-white);
  size: 27px;
  font-weight: 600;
}
.textbox {
  background-color: var(--css-white);
  width: 568px;
  padding-right: 0.2rem;
  border-radius: 8px, 0px, 0px, 8px;
}
.nav-logo {
  height: 34px;
  width: 60px;
  padding-left: 1rem;
}
#searchicon {
  background-color: var(--css-white);
  padding: 8px;
  height: 40px;
  box-sizing: border-box;
  border-width: 1px;
}
.search-img {
  border-radius: 0px, 8px, 8px, 0px;
}
