.swiper-button-next,
.swiper-button-prev {
  background-color: var(--css-primary); /* Customize background color */
  color: #fff; /* Customize text color */
  font-size: 15px;
  border-radius: 50%; /* Customize border radius */
  cursor: pointer;
  position: absolute;
  height: 20px;
}
.swiper-container {
  position: relative;
  z-index: 1;
}
.arrow {
  position: absolute;
  cursor: pointer;
  top: 40%;
  z-index: 1;
}
.arrow-left {
  left: 0px;
}
.arrow-right {
  right: -14px;
}
